{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Accueil
{% endblock %}
 
{% block PwebMain_body %}

<div class="hero-unit">
	<p> 
		<h1>Accueil</h1>
	</p>
</div>




{{ result|raw }}


{% endblock %}
