{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Accueil
{% endblock %}
 
{% block PwebMain_body %}

<div class="hero-unit">
<p> 
Fiducia adventans adfatim repente si exsudatos vestri 
barbaricos pagos miretur adfatim vestri exsudatos barbaricos 
consilio fiducia longos vestri longos deverti post deverti 
ductante deverti itinerum velut placidiora placidiora mutato 
quaeso congestosque consilio itinerum vestri miretur post repente 
fiducia deverti repente quaeso barbaricos adfatim congestosque deverti 
post post adventans longos mutato pagos itinerum miretur velut adventans 
post consilio velut pagos adventans mutato deverti longos deverti commeatus 
labores si congestosque ad adventans repente ad mutato miretur mutato 
quaeso exsudatos ductante consilio velut pagos ad adfatim commeatus 
congestosque congestosque labores post repente ductante velut 
congestosque post repente adventans placidiora deverti repente vestri fiducia.
</p>
</div>
 
{% endblock %}