{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Accueil
{% endblock %}
 
{% block PwebMain_body %}

<div class="hero-unit">


<h3>Tableau</h3>
 	<div class="row">
    <div class="span9 offset1">
    <table class="table table-bordered table-striped table-condensed">
    <thead>
 	<tr>
 		<td>
 		<center>
    	<h4>
    		Champs 1
    	</h4>
    	</center>	
    	</td>
    </tr>
    </thead>
    <tbody>
 	<tr class="success">
 		<td>
    	<p align="center">
    		Champs 1.1
    	</p>
    	</td>
    	<td>
    	<p align="center">
    		Champs 1.2
    	</p>
    	</td>
    </tr>
    </tbody>
    <tbody>
 	<tr class="success">
 		<td>
    	<p align="center">
    		Champs 2.1
    	</p>
    	</td>
    	<td>
    	<p align="center">
    		Champs 2.2
    	</p>
    	</td>
    </tr>
    </tbody>
   	</table>
    </div>
    </div>
</div>



  
{% endblock %}