{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Accueil
{% endblock %}
 
{% block PwebMain_body %}

<div class="hero-unit">
<h2>Formulaire</h2>

<p>Formulaire bien envoyée</p>

</div> 
   
{% endblock %}