{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Accueil
{% endblock %}
 
{% block PwebMain_body %}

<div class="well">
<h2> Formulaire </h2>
{% include "PwebMainBundle:Main:formulaire.html.twig" %}
</div> 
   
{% endblock %}