{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Statistiques
{% endblock %}
 
{% block PwebMain_body %}

<div class="hero-unit">
<h2>Tableau</h2>
<table>
<tr><td>Abc</td><td>Def</td></tr>
<tr><td>Ghi</td><td>Jkl</td></tr>
<tr><td>Mno</td><td>Pqr</td></tr>
</table>
</div>
 
{% endblock %}