{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
    Utilisateur
{% endblock %}

{% block PwebMain_body %}

<div class="well">
	<h1>Mes informations</h1>
	{% if app.user %}
	<h2>Nom :</h2>
   	<p>{{ app.user.username }} </p>
	<h2>Email :</h2>
	<p>{{ app.user.email }}</p>
	<h2>Adresse :</h2>
	<p>{{ app.user.adresse }}</p>
	<h2>Mes points :</h2>
	<p>{{ app.user.points }}</p
	{% endif %}
</div>   
  
{% endblock %}
